nav li{
  list-style: none;
  margin: 25px ;
  display: inline-block;
  color: blue;
  text-align: center;
}
nav li:hover{
  background-color: rgb(186, 59, 59);
}
footer{
    background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 5;
}